### Limpeza de Dados referentes aos discentes egressos

In [8]:
import pandas as pd

In [7]:
anos = [2020, 2021, 2022, 2023]
egressos_por_ano = {}
dfs = []

In [3]:
for ano in anos:
    caminho = f'../../data/raw/egressos/discentes-egressos-{ano}.csv'
    df = pd.read_csv(caminho, sep=';')

    # Filtra por id_unidade_gestora (1482 é o CERES) e nivel_ensino
    df = df[
        (df['id_unidade_gestora'] == 1482) &
        (df['nivel_ensino'] == 'GRADUAÇÃO')
    ]

    # Seoara bacharelado e licenciatura de Geografia
    df.loc[df['id_curso'] == 2000044, 'nome_curso'] = 'BAC. GEOGRAFIA'
    df.loc[df['id_curso'] == 111635055, 'nome_curso'] = 'LIC. GEOGRAFIA'

    # Remove colunas desnecessárias
    df = df.drop([
        'periodo_conclusao', 'periodo_ingresso', 'modalidade_educacao',
        'forma_ingresso', 'tipo_discente', 'nivel_ensino',
        'id_unidade', 'nome_unidade'
    ], axis=1)

    # Armazena o DataFrame filtrado no dicionário
    egressos_por_ano[ano] = df

In [4]:
# Juntando os DataFrames de todos os anos em um único
for ano, df in egressos_por_ano.items():
    df['ano'] = ano
    dfs.append(df)

egressos_2020_2023 = pd.concat(dfs, ignore_index=True)

In [5]:
egressos_2020_2023

,matricula,nome_discente,sexo,ano_conclusao,ano_ingresso,id_curso,nome_curso,id_unidade_gestora,nome_unidade_gestora,ano
0,2012905503,ANNA PAULA GOMES DE FARIA,F,2020,2012,2000064,PEDAGOGIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2020
1,2012905675,IZANETE DE MEDEIROS COSTA,F,2020,2012,2000064,PEDAGOGIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2020
2,2013023472,ERIKA FERREIRA DE MEDEIROS,F,2020,2013,2000012,CIÊNCIAS CONTÁBEIS,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2020
3,2013028020,ELAINE CRISTINA DA SILVA,F,2020,2013,2000064,PEDAGOGIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2020
4,2013035286,WALÉRIA KALIANDRA ARAÚJO SANTOS,F,2020,2013,111635060,HISTÓRIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2020
...,...,...,...,...,...,...,...,...,...,...
792,20210025172,ALEX NUNES DA SILVA,M,2023,2021,2000044,BAC. GEOGRAFIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2023
793,20210073895,DHELMAN SALETE MELO DE MEDEIROS,F,2023,2021,2000019,DIREITO,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2023
794,20210076000,JORGE LUAN DO NASCIMENTO,M,2023,2021,111635060,HISTÓRIA,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2023
795,20210091955,ANI HELEN DA SILVA ALVES,F,2023,2021,2000019,DIREITO,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2023
796,20220066858,FRANCISCO DE FÁTIMA FÉLIX,M,2023,2022,2000019,DIREITO,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,2023

In [6]:
egressos_2020_2023.to_csv('../../data/processed/egressos.csv', index=False)